.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
%btns {
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}
.btn {
    &-main {
        @extend %btns;
        background-color: $main-color;
        color: $web-color;
    }
    &-light {
        @extend %btns;
        background-color: $light-color;
        color: $dark-color;
    }
    &-dark {
        @extend %btns;
        background-color: $dark-color;
        color: $main-color;
    }
}
*[class^="btn-"]:hover{
    background-color: $web-color;
    color: $main-color;
}
.text-center {
    text-align: center;
}
.py{
    &-1{
        padding: 1rem 0;
    }
    &-2{
        padding: 2rem 0;
    }
    &-3{
        padding: 3rem 0;
    }
    &-4{
        padding: 4rem 0;
    }
}
.my{
    &-1{
        margin: 1rem 0;
    }
    &-2{
        margin: 2rem 0;
    }
    &-3{
        margin: 3rem 0;
    }
    &-4{
        margin: 4rem 0;
    }
}